<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    you can have some variables defined in .properties file outside for better organization -->
    <!--    <properties resource="jdbc.properties"/>    -->
    
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
<!--        <setting name="logImpl" value="LOG4J"/>-->
    </settings>
    
    <typeAliases>
        <typeAlias type="com.shoutplatform.domain.objects.Category" alias="Category" />
        <typeAlias type="com.shoutplatform.domain.objects.Question" alias="Question" />
    </typeAliases>
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">    
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/shoutplatform_v1"/>
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    
    <!-- The mappers are Java interfaces that help Java know how to CRUD -->
    <mappers>    
        <mapper resource="CategoryMapper.xml" /> 
        <mapper resource="QuestionMapper.xml" /> 
    </mappers>
  
</configuration>